
/* navigarion bar css */
.nav-container{
    position:sticky;
    margin: 0;
    padding: 0;
    overflow: hidden;
    top:0;
    width: 100%;
    background-color: #080047;
    list-style: none;
}
.nav-button, .active {
    float: right;
}
.back-button {
    float: left;
}
.nav-button, .back-button, .active{
    text-align: center;
    padding: 14px 16px;
    border: none;
    cursor: pointer;
    display:block;
    color:white;
    text-decoration:none;
}
.nav-button, .back-button {
    background-color: #080047;
}
.nav-button:hover, .back-button:hover {
    background-color: #060437;
}
.active{
    background-color: #422b82;
}
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    align-items: center;
    background-color: #f8f9fa;
}
header {
    background-color: #343a40;
    color: #ffffff;
    padding: 10px 0;
    width: 100%;
    text-align: center;
}
main {
    padding: 20px;
    max-width: 800px;
    width: 100%;
    text-align: center;
    position: relative;
    margin: 0px auto;
}
img {
    max-width: 100%;
    height: auto;
}
area {
    outline-color: white;
}

video{
   display: block;
   margin: auto;
   width:320;
   height:240; 
}

/* normal text css*/
p{
    text-align: center;
}

h2{
    background-color: #2c7846;
    color: #ffffff;
    padding: 10px 0;
    width: 100%;
    text-align: center;
}

/*gallery css*/
.gallery{
    display:inline-block;
    border: 1px solid hsl(207, 87%, 56%);
    margin: 5px;
    width: 500px;
}
.gallery .description{
    padding: 10px;
    text-align: center;
    color:#ffffff;
}
.gallery:hover{
    border: 1px solid hsl(206, 70%, 53%);
}
.gallery img{
    width: 100%;
    height: auto;
}
.popup {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.7);
    color: #ffffff;
    padding: 10px;
    border-radius: 5px;
    display: none;
    z-index: 100;
}
#mobile-list, #desktop-map {
    display: none;
} 
.mobile-button {
    
}
.mobile-button a {
    list-style-type: none;
    max-width: 600px;
    border: none;
     margin: 5px auto;
    padding: 15px 30px;
    cursor: pointer;
    width: 100%;
    padding: 10px 20px;
    background-color: #080047;
    font-size: 18px;
    font-weight: bold;
    transition: background-color 0.3s, transform 0.2s;
    display: block;
    color: white;
    text-align: center;
    text-decoration: none;
}
.mobile-button a:hover {
    background-color: #422b82;
}
@media (max-width: 800px) {
    #mobile-list {
        display: block;
    }
    
}
@media (min-width: 801px) {
    #desktop-map {
        display: block;
    }
    div.scroll-container {
        display: block;
    }
}
div.scroll-container {
    background-color: #333;
    overflow: auto;
    white-space: nowrap;
    padding: 10px;
    display: none;
  }
  